<div class="amt-container">
    <div class="amt-wraper">
        <div class="total-amt-div">
            <span class="total-amt" [ngClass]="{
                'positive':grandTotalAmt > 0,
                'negative':grandTotalAmt < 0
            }">{{grandTotalAmt | currency:'INR':'symbol':'1.2-2'}}</span> 
        </div>
        <div class="in-exp">
            <div class="income positive">
                <span>
                    <mat-icon>arrow_downward</mat-icon>
                </span>
                <span class="income-amt">{{incomeTotalAmt | currency:'INR':'symbol':'1.2-2'}}</span> 
            </div>
            <div class="expense negative">
                <span>
                    <mat-icon>arrow_upward</mat-icon>
                </span>
               <span class="expense-amt">{{expenseTotalAmt | currency:'INR':'symbol':'1.2-2'}}</span> 
                
            </div>
        </div>
    </div>
</div>
<div class="add-tran" align="end">
    <button mat-raised-button color="primary" (click)="openAddtransModal()">Add Transaction</button>
</div>
<div class="in-exp-container">
    <h4>Income-Expense Details</h4>
    <div class="transaction-list">
        <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let tran of transactions" [ngClass]="{
                    'list-item-positive': tran.incomeExpense === 'I',
                    'list-item-negative': tran.incomeExpense=== 'E' }">
                    <div  matLine style="display: flex;">
                        <div class="item-col" style="flex-basis: 10%;">
                            <button mat-button color="accent" (click)="transDataForEdit(tran)">
                                <mat-icon>edit_document</mat-icon>
                            </button> 
                            <button mat-button color="warn" (click)="deleteTransData(tran.id)">
                                <mat-icon>delete</mat-icon>
                            </button>       
                         </div>
                        <div class="item-col" style="flex-basis: 20%;">
                            <div class="tran-date-div">
                                <mat-icon matListItemIcon>date_range</mat-icon>
                                <span class="tran-date">{{tran.date}}</span>
                            </div>  
                        </div>
                        <div class="item-col" style="flex-basis: 40%;">
                            <span class="tran-details"></span> {{tran.name}}
                        </div>
                        <div class="item-col" style="flex-basis: 10%;">
                            <span class="tran-details"></span> {{tran.category}}
                        </div>
                        <div class="item-col" style="flex-basis: 20%;text-align: right;">
                            <div class="tran-amt-div">
                            <span class="tran-amt">{{tran.amount | currency:'INR':'symbol':'1.2-2'}}</span>
                            <mat-icon [ngClass]="{
                                'positive': tran.incomeExpense === 'I',
                                'negative': tran.incomeExpense=== 'E' }">{{tran.incomeExpense === 'E'?'arrow_upward':'arrow_downward'}}</mat-icon>
                        </div>
                        </div>
                      </div>
                </mat-list-item>
            </mat-list>          
    </div>
</div>
